
body{
	background-image: url('http://devinhuizingh.github.io/quizapp/images/bluesky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
}

.pad {
	margin-top: 12px
}

.warm{
	background-image: url('http://devinhuizingh.github.io/quizapp/images/hawaii.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.cold{
	background-image: url('http://devinhuizingh.github.io/quizapp/images/alaska.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.neutral {
	background-image: url('http://devinhuizingh.github.io/quizapp/images/bluesky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.forcenter {
	display: table;
	width: 100%;
	width: 540px;
	margin: 0 auto;
}
#quiz {
	margin: 0 auto;
	background-color: lightgrey;
	font-family: 'Lora', serif;
	padding: 20px;
	display: table-cell;
	vertical-align: middle;
}
.answers {
	text-align: left;
}

.cold-or-warm {
	margin: 20px;
    font-size: 1.8em;
}

.reset {
	
	display: none;
}
.coldend {
	display: none;
}
.warmend {
	display: none;
}

#map {
	width: 540px;
    height: 400px;
    margin: 0 auto;
}

.coldend, .warmend {
	margin: 0 auto;
	width: 540px;
}

 button, input[type=submit] {
    background-color: white;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
   cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.meter {
	margin: 0 auto;
	outline: solid lightgrey 1px;
	width: 100%;
	height: 40px;
	background: linear-gradient(to right, red, blue)
}

